html {
    font-family: "Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #5CDB95;
}
h1 {
    font-size: 24px;
    line-height: 26px;
    color: #f04c25;
    font-weight: 600;
}
h2 {
    font-size: 18px;
    line-height: 20px;
    color: #009cab;
    font-weight: normal;
}
h3 {
    font-size: 16px;
    line-height: 20px;
    color: purple;
    font-weight: 500;
}
p {
    font-size: 14px;
    line-height: 20px;
    color: #111111;
    font-weight: 300;
    width: 960px;
}
figure {
    float: left;
    margin: 0 20px 20px 0;
}

main {
    margin-top: 150px;    
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
}

.portfolioarticle {
    width: 250px;
    height: 25px;
    background-color: #8EE4AF;
    border-radius: 25px;
    border: 3px, solid #8EE4AF;
    margin-bottom: 25px;
}

.portfolioarticle > ul > li > a {
    color: #EDF5E1;
    text-decoration: none;
}

ul {
    list-style: none;
}
